<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FLAMES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FLAMES</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- main content -->
  <div class="main-content h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 col-md-7">
          <div class="d-flex justify-content-center mt-5">
            <h3 class="subtitle-1">Lets known relationship between both
            </h3>
            <img src="/assets/heart.gif" style="width: 38px;">
          </div>
          <div class="mt-4">
            <form [formGroup]='flamesForm' (ngSubmit)="handleFlames()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Your Name</mat-label>
                <input matInput formControlName="nameOne">
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Your Crush Name</mat-label>
                <input matInput formControlName="nameTwo">
              </mat-form-field>

              <div class="text-center">
                <button class="btn btn-primary" [disabled]="this.flamesForm.invalid">FLAMES</button>
              </div>
              <div class="mt-1 d-flex justify-content-center" *ngIf="showLoader">
                <img src="/assets/loader.png" style="width: 5rem;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>