ion-menu-button {
  color: var(--ion-color-primary);
}

.main-content {
  background-image: url(/assets/bg-logo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.subtitle-1 {
  color: #08039e !important;
  font-weight: bolder;
  text-shadow: -1px 0px #80e04a;
}
