<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>DEVENDRAN</ion-list-header>
          <ion-note>devendranvemula@gmail.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" routerLink="folder">
              <ion-icon slot="start" [ios]="'heart' + '-outline'" [md]="'heart' + '-sharp'"></ion-icon>
              <ion-label>FLAMES</ion-label>
            </ion-item>
            <ion-item lines="none" detail="false">
              <ion-icon slot="start" [ios]="'share' + '-outline'" [md]="'share' + '-sharp'"></ion-icon>
              <ion-label>Share App</ion-label>
            </ion-item>
            <ion-item lines="none" detail="false">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              <ion-label>Details</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
