<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DETAILS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DETAILS</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- main content -->
  <div class="main-content h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 col-md-4 mt-5">
          <p>
            This app is made only for fun. The content and the prediction from this app will not be true.

            The content in this app is just an game nothing serious.
          </p>
          <p>
            Most of the relationships back in the 90s were decided by a important factor – it was not by how you looked,
            not by how you behaved, not by how much money you had, not by your friends and definitely not by the books
            you read ( We hardly read during the childhood ). It was by the greatest invention / theory of all time –
            Flames
          </p>


          <p>
            Flames is the combination of 6 letters and the word flames has not specific meaning.

            So, <b>F is Friends, L is Lovers, A is Attraction, M is Marriage, E is Enemies and S is Siblings.</b>

            This funny game is played by almost every 90’s kid in their school. They used to play on the paper those
            days now we have new app for this.

          </p>

        </div>
      </div>
    </div>
  </div>
</ion-content>